services:
  my-postgres:
    image: postgres:15
    container_name: my-postgres
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
    ports:
      - "5434:5432"
    volumes:
      - postgres_data_v4:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U myuser -d mydb"]
      interval: 10s
      retries: 15
      timeout: 5s

  my-app:
    build: .
    container_name: my-app
    restart: always
    environment:
      DATABASE_URL: postgres://myuser:mypassword@my-postgres:5432/mydb?schema=public
      PORT: 3005
    ports:
      - "3005:3005"
    depends_on:
      my-postgres:
        condition: service_healthy
    command: npm run dev

volumes:
  postgres_data_v4:
