version: "3.9"

services:
  db:
    image: postgres:18
    container_name: my_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: my_app
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "3005:3005"
    command: >
      sh -c "
      echo 'Waiting for Postgres...';
      until pg_isready -h db -p 5432 -U myuser; do
        sleep 2;
      done;
      echo 'Postgres is ready, running migrations...';
      npx prisma migrate deploy;
      echo 'Starting app...';
      node server.js
      "
      
volumes:
  db_data:
